body {
	width: 215px;
	font-family: sans-serif;
	background: linear-gradient(to bottom, #ffffff 3%,#e8e8e8 100%);
	margin: 0;
	padding: 0;
}
#esoresults {
	padding: 5px;
}
#title {
    font-size: .85em;
    border-bottom: 1px dotted black;
    opacity: 50%;
}
.lbl {
    font-weight: 600;
    width: 50px;
    position: absolute;
}
.val {
    position: relative;
    left: 50px;
}
.val > a {
	text-decoration: none;
	background: #46caca;
	padding: 3px;
	border-radius: 5px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	width: calc(100% - 60px);
    display: inline-block;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#esoresults > div:not(#title) {
	margin: 10px 0;
}